body{
  position: fixed;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e1e4eb;
  font-family: "Roboto", sans-serif;
}
header{
  height: 60px;
  width: 100%;
  background: linear-gradient(#4e69a2, #3b5998 50%);
  & #navigation{
    width: 70%;
    margin: auto;
    height: inherit;
    display: flex;
    justify-content: space-between;
    & #search{
      width: 800px;
      height: inherit;
      & #logoFacebook{
        position: fixed;
        margin-top: -10px;
      }
      & > input{
        width: 300px;
        height: 25px;
        border-radius: 20px;
        font-size: 24px;
        position: fixed;
        margin-top: 18px;
        margin-left: 60px;
        outline: none;
        border: none;
        background-image: url("svg/searchLoop.svg");
        background-repeat: no-repeat;
        background-size: 60px;
        background-position: 265px -3px;
      }
      & #circleOnline{
        position: fixed;
        margin-left: 365px;
        margin-top: 11px;
      }
    }
    & #home{
      width: 250px;
      height: inherit;
      margin-top: 17px;
      & span{
        font-size: 20px;
        color: white;
        border-right: 2px solid dimgray;
        padding-right: 20px;
      }
      & #mainPhoto img{
        position: fixed;
        border: 2px solid transparent;
        border-radius: 50%;
        margin-left: 95px;
        margin-top: -28px;
      }
      & #tick{
        position: fixed;
        margin-left: 130px;
        margin-top: -41px;
      }
    }
  }
}
section{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  width: 70%;

  margin: auto;
  & #content{
    display: flex;
    flex-direction: column;
    background-color: orange;
    height: inherit;
    width: 65%;
    & #add{
      display: flex;
      background-color: darkblue;
      height: 120px;
    }
    & #posts {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: inherit;
      background-color: antiquewhite;
      flex-grow: 1;
    }
  }
  & #friends {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 25%;
    justify-content: space-between;
    margin-top: 10px;
    & #friendsAnswers {
      width: 100%;
      height: 40%;
      & ul {
        padding: 0;
      }
      & ul > li {
        list-style-type: none;
        margin: 10px;
      }
      & ul div {
        width: 100%;
        height: 70px;
        background-color: white;
        box-shadow: 1px 2px 0 dimgray;
        & figure {
          position: fixed;
          margin: 0;
          & img {
            border-radius: 50%;
            position: fixed;
            margin-top: 10px;
            margin-left: 10px;
          }
          & figcaption {
            margin-left: 75px;
            margin-top: 15px;
            font-size: 17px;
          }
          & span {
            font-size: 15px;
            color: gray;
            margin-left: 75px;
          }
        }
      }
      & ul div:hover{
        cursor: pointer;
      }
    }
    & #friendsOnline {
      width: 100%;
      height: 65%;
      margin-bottom: 40px;
      & ul {
        height: 517px;
        padding: 0;
        margin-right: 10px;
        margin-left: 10px;
        box-shadow: 1px 2px 0 dimgray;
        background-color: white;
      }
      & ul > li {
        list-style-type: none;
        margin: 0;
        height: 47px;
      }
      & ul div {
        width: 100%;
        height: 47px;
        & figure {
          position: fixed;
          margin: 0;
          & img {
            border-radius: 50%;
            position: fixed;
            margin-top: 10px;
            margin-left: 10px;
            padding: 2px;
          }
          & figcaption {
            margin-left: 55px;
            margin-top: 14px;
            font-size: 17px;
            position: fixed;
          }
          & figcaption.online::after{
            content: url(svg/circleOnline.svg);
            position: fixed;
            margin-left: 80px;
            margin-top: -10px;
            padding: 0;
          }
          & figcaption.onlineRed::after{
            content: url(svg/circleOnlineOrangeRed.svg);
            position: fixed;
            margin-left: 80px;
            margin-top: -10px;
            padding: 0;
          }
          & figcaption.onlineOrange::after{
            content: url(svg/circleOnlineOrange.svg);
            position: fixed;
            margin-left: 80px;
            margin-top: -10px;
            padding: 0;
          }
          & figcaption.back45min::after{
              content: "back in 45 minutes";
              color: gray;
              font-style: italic;
              position: fixed;
              font-size: 15px;
              margin-left: 10px;
              padding: 0;
            }
          & figcaption.onPhone::after{
            content: "on phone";
            color: gray;
            font-style: italic;
            position: fixed;
            font-size: 15px;
            margin-left: 70px;
            padding: 0;
          }
          & span {
            font-size: 15px;
            color: gray;
            margin-left: 75px;
          }
        }
      }
      & ul div:hover{
        background-color: #e2e2e2;
        cursor: pointer;
    }
  }
}
}